Open Field Farming/Dash Board with mqtt/G09_open_field_irrigation_system.json
[
    {
        "id": "02370d703696430e",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0e07a6c5d588afe6",
        "type": "inject",
        "z": "02370d703696430e",
        "name": "soil moisture sensor",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "{   \"reading\" : 20 + $round($random()*40, 1)}",
        "payloadType": "jsonata",
        "x": 160,
        "y": 80,
        "wires": [
            [
                "839c5c34c3e75046",
                "7aeaab2f1f03db45"
            ]
        ]
    },
    {
        "id": "00d24a5f05a29caf",
        "type": "mqtt in",
        "z": "02370d703696430e",
        "name": "moisture level",
        "topic": "/CO326/2021/IVCU/MS",
        "qos": "2",
        "datatype": "auto",
        "broker": "540af55dbb8de4a1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 400,
        "wires": [
            [
                "b5bc50d592061e34",
                "637da6db63810782"
            ]
        ]
    },
    {
        "id": "839c5c34c3e75046",
        "type": "mqtt out",
        "z": "02370d703696430e",
        "name": "moisture level",
        "topic": "/CO326/2021/IVCU/MS",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "540af55dbb8de4a1",
        "x": 660,
        "y": 80,
        "wires": []
    },
    {
        "id": "b5bc50d592061e34",
        "type": "debug",
        "z": "02370d703696430e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 380,
        "wires": []
    },
    {
        "id": "fa60de46e2b06152",
        "type": "mqtt out",
        "z": "02370d703696430e",
        "name": "power signal",
        "topic": "/CO326/2021/IVCU/PWR",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "540af55dbb8de4a1",
        "x": 650,
        "y": 140,
        "wires": []
    },
    {
        "id": "95025f0cac53b989",
        "type": "mqtt out",
        "z": "02370d703696430e",
        "name": "water pumping request",
        "topic": "/CO326/2021/IVCU/WP",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "540af55dbb8de4a1",
        "x": 680,
        "y": 200,
        "wires": []
    },
    {
        "id": "abdf529d33996eed",
        "type": "mqtt out",
        "z": "02370d703696430e",
        "name": "valve status",
        "topic": "/CO326/2021/IVCU/VS",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "540af55dbb8de4a1",
        "x": 650,
        "y": 260,
        "wires": []
    },
    {
        "id": "11fd70fda36e144c",
        "type": "mqtt in",
        "z": "02370d703696430e",
        "name": "power signal",
        "topic": "/CO326/2021/IVCU/PWR",
        "qos": "2",
        "datatype": "auto",
        "broker": "540af55dbb8de4a1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 500,
        "wires": [
            [
                "8c4da6b34ddef4b4",
                "46f86f5dd32db500"
            ]
        ]
    },
    {
        "id": "874eae043482a388",
        "type": "mqtt in",
        "z": "02370d703696430e",
        "name": "valve status",
        "topic": "/CO326/2021/IVCU/VS",
        "qos": "2",
        "datatype": "auto",
        "broker": "540af55dbb8de4a1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 760,
        "wires": [
            [
                "3c4360e0e28c08ab",
                "fa8c62ad877cb0e9"
            ]
        ]
    },
    {
        "id": "fc488203d36ae7e1",
        "type": "mqtt in",
        "z": "02370d703696430e",
        "name": "water pumping request",
        "topic": "/CO326/2021/IVCU/WP",
        "qos": "2",
        "datatype": "auto",
        "broker": "540af55dbb8de4a1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 640,
        "wires": [
            [
                "a7826c002d602d22",
                "cef32d43fa4a3eb5"
            ]
        ]
    },
    {
        "id": "7aeaab2f1f03db45",
        "type": "function",
        "z": "02370d703696430e",
        "name": "controller",
        "func": "reading = msg.payload.reading\nif (reading > 50){\n    msg.payload = 0\n}\nelse {\n    msg.payload = 1\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 200,
        "wires": [
            [
                "abdf529d33996eed",
                "95025f0cac53b989",
                "fa60de46e2b06152",
                "6bc0eccc287f2252"
            ]
        ]
    },
    {
        "id": "8c4da6b34ddef4b4",
        "type": "debug",
        "z": "02370d703696430e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 500,
        "wires": []
    },
    {
        "id": "a7826c002d602d22",
        "type": "debug",
        "z": "02370d703696430e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 640,
        "wires": []
    },
    {
        "id": "3c4360e0e28c08ab",
        "type": "debug",
        "z": "02370d703696430e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 760,
        "wires": []
    },
    {
        "id": "46f86f5dd32db500",
        "type": "ui_chart",
        "z": "02370d703696430e",
        "name": "",
        "group": "54786e61bdebb419",
        "order": 6,
        "width": "4",
        "height": "4",
        "label": "power signal",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 460,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "cef32d43fa4a3eb5",
        "type": "ui_chart",
        "z": "02370d703696430e",
        "name": "",
        "group": "54786e61bdebb419",
        "order": 7,
        "width": "4",
        "height": "4",
        "label": "water pump signal",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 480,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "fa8c62ad877cb0e9",
        "type": "ui_chart",
        "z": "02370d703696430e",
        "name": "",
        "group": "54786e61bdebb419",
        "order": 8,
        "width": "4",
        "height": "4",
        "label": "valve status",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 450,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "637da6db63810782",
        "type": "ui_text",
        "z": "02370d703696430e",
        "group": "54786e61bdebb419",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Moisture value",
        "format": "{{value}}",
        "layout": "row-center",
        "className": "",
        "x": 460,
        "y": 440,
        "wires": []
    },
    {
        "id": "6bc0eccc287f2252",
        "type": "mqtt out",
        "z": "02370d703696430e",
        "name": "Motor control",
        "topic": "CO326/2021/IVCU/MC",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "540af55dbb8de4a1",
        "x": 650,
        "y": 320,
        "wires": []
    },
    {
        "id": "f5812f8e201d4571",
        "type": "mqtt in",
        "z": "02370d703696430e",
        "name": "Motor control",
        "topic": "CO326/2021/IVCU/MC",
        "qos": "2",
        "datatype": "auto",
        "broker": "540af55dbb8de4a1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 900,
        "wires": [
            [
                "5ac37a8547189188",
                "9b050b9ebd2c5aab"
            ]
        ]
    },
    {
        "id": "5ac37a8547189188",
        "type": "debug",
        "z": "02370d703696430e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 900,
        "wires": []
    },
    {
        "id": "9b050b9ebd2c5aab",
        "type": "ui_chart",
        "z": "02370d703696430e",
        "name": "",
        "group": "54786e61bdebb419",
        "order": 8,
        "width": "4",
        "height": "4",
        "label": "Motor control",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 480,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "540af55dbb8de4a1",
        "type": "mqtt-broker",
        "name": "public broker",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "54786e61bdebb419",
        "type": "ui_group",
        "name": "OPEN FIELD IRRIGATION SYSTEM",
        "tab": "f5b6aaccb4332c25",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f5b6aaccb4332c25",
        "type": "ui_tab",
        "name": "Local Scada dashboard",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]