Security Unit - Group 8/SCADA-Application/flows.json
[
    {
        "id": "9ab0aa2ee0f67796",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "09a45d7fb37c3f78",
        "type": "debug",
        "z": "9ab0aa2ee0f67796",
        "name": "Flame debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 330,
        "y": 40,
        "wires": []
    },
    {
        "id": "a6a25d432fd025b6",
        "type": "mqtt in",
        "z": "9ab0aa2ee0f67796",
        "name": "Flame sensor",
        "topic": "/CO326/2021/SS/1/flame",
        "qos": "0",
        "datatype": "utf8",
        "broker": "8a64871d599caeb9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 100,
        "wires": [
            [
                "09a45d7fb37c3f78",
                "b6455b3f2955409c",
                "e28f71b3f1da80ce"
            ]
        ]
    },
    {
        "id": "72656c25abc6750a",
        "type": "mqtt in",
        "z": "9ab0aa2ee0f67796",
        "name": "Smoke sensor",
        "topic": "/CO326/2021/SS/1/smoke",
        "qos": "0",
        "datatype": "auto",
        "broker": "8a64871d599caeb9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 220,
        "wires": [
            [
                "75557dbc1a58f3b9",
                "408291eca88b9dcc",
                "0211cc71e153a5f3"
            ]
        ]
    },
    {
        "id": "b4571c8dc5aba0f7",
        "type": "mqtt in",
        "z": "9ab0aa2ee0f67796",
        "name": "Image feedback",
        "topic": "/CO326/2021/SS/1/image_feedback",
        "qos": "0",
        "datatype": "base64",
        "broker": "8a64871d599caeb9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 560,
        "wires": [
            [
                "0f7ea6574d615cc8"
            ]
        ]
    },
    {
        "id": "75557dbc1a58f3b9",
        "type": "debug",
        "z": "9ab0aa2ee0f67796",
        "name": "Smoke debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 160,
        "wires": []
    },
    {
        "id": "b6455b3f2955409c",
        "type": "ui_led",
        "z": "9ab0aa2ee0f67796",
        "order": 3,
        "group": "0fe49638f8229727",
        "width": 3,
        "height": 1,
        "label": "Flame",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "1",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "0",
                "valueType": "str"
            },
            {
                "color": "#0000ff",
                "value": "null",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": true,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 550,
        "y": 100,
        "wires": []
    },
    {
        "id": "408291eca88b9dcc",
        "type": "ui_led",
        "z": "9ab0aa2ee0f67796",
        "order": 5,
        "group": "0fe49638f8229727",
        "width": 3,
        "height": 1,
        "label": "Smoke",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "1",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "0",
                "valueType": "str"
            },
            {
                "color": "#0000ff",
                "value": "null",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 550,
        "y": 220,
        "wires": []
    },
    {
        "id": "87d00364.32326",
        "type": "ui_template",
        "z": "9ab0aa2ee0f67796",
        "group": "",
        "name": "Logo / Clock",
        "order": 2,
        "width": 0,
        "height": 0,
        "format": "<script id=\"clockScript1\" type=\"text/javascript\">\n    var clockInterval;\n    $(function () {\n        if (clockInterval) return;\n\n        //add logo\n        var div1 = $('<div/>');\n        var logo = new Image();\n\n        //logo.src = '';\n        //logo.height = 45;\n        div1[0].style.margin = '10px auto';\n\n        //div1.append(logo);\n\n        //add clock\n        var div2 = $('<div/>');\n        var p = $('<p/>');\n\n        div2.append(p);\n        div2[0].style.margin = '5px';\n\n        function displayTime() {\n            p.text(new Date().toLocaleString());\n        }\n        \n        clockInterval = setInterval(displayTime, 1000);\n\n        //add to toolbar when it's available\n        var addToToolbarTimer;\n        \n        function addToToolbar() {\n            var toolbar = $('.md-toolbar-tools');\n            \n            if(!toolbar.length) return;\n            \n            toolbar.append(div1);\n            toolbar.append(div2);\n            clearInterval(addToToolbarTimer);\n        }\n        addToToolbarTimer = setInterval(addToToolbar, 100);\n    });\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "global",
        "className": "",
        "x": 150,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "fb4658971554ac7d",
        "type": "mqtt in",
        "z": "9ab0aa2ee0f67796",
        "name": "Alarm",
        "topic": "/CO326/2021/SS/1/alarm_on",
        "qos": "0",
        "datatype": "auto",
        "broker": "8a64871d599caeb9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 340,
        "wires": [
            [
                "bed7d673688b3c7b",
                "bb86c987de3e1276"
            ]
        ]
    },
    {
        "id": "bed7d673688b3c7b",
        "type": "debug",
        "z": "9ab0aa2ee0f67796",
        "name": "Alarm debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 310,
        "y": 280,
        "wires": []
    },
    {
        "id": "bb86c987de3e1276",
        "type": "ui_led",
        "z": "9ab0aa2ee0f67796",
        "order": 4,
        "group": "0fe49638f8229727",
        "width": 3,
        "height": 1,
        "label": "Alarm",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "1",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "0",
                "valueType": "str"
            },
            {
                "color": "#0000ff",
                "value": "null",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 550,
        "y": 340,
        "wires": []
    },
    {
        "id": "0ac775f157eef08d",
        "type": "mqtt in",
        "z": "9ab0aa2ee0f67796",
        "name": "Sprinkler",
        "topic": "/CO326/2021/SS/1/sprinkler_on",
        "qos": "0",
        "datatype": "utf8",
        "broker": "8a64871d599caeb9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 480,
        "wires": [
            [
                "df5ad137c197e68f",
                "193e39207c173189"
            ]
        ]
    },
    {
        "id": "df5ad137c197e68f",
        "type": "debug",
        "z": "9ab0aa2ee0f67796",
        "name": "Sprinkler debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 420,
        "wires": []
    },
    {
        "id": "193e39207c173189",
        "type": "ui_led",
        "z": "9ab0aa2ee0f67796",
        "order": 6,
        "group": "0fe49638f8229727",
        "width": 3,
        "height": 1,
        "label": "Sprinkler",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "1",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "0",
                "valueType": "str"
            },
            {
                "color": "#0000ff",
                "value": "null",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 550,
        "y": 480,
        "wires": []
    },
    {
        "id": "9e6ed9dc.f64ba8",
        "type": "template",
        "z": "9ab0aa2ee0f67796",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<img width=\"100%\" src=\"data:image/jpg;base64,{{{payload}}}\">",
        "output": "str",
        "x": 600,
        "y": 560,
        "wires": [
            [
                "28439a97.39e7a6"
            ]
        ]
    },
    {
        "id": "28439a97.39e7a6",
        "type": "ui_template",
        "z": "9ab0aa2ee0f67796",
        "group": "0fe49638f8229727",
        "name": "",
        "order": 1,
        "width": 6,
        "height": 5,
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 800,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "0f7ea6574d615cc8",
        "type": "base64",
        "z": "9ab0aa2ee0f67796",
        "name": "",
        "action": "b64",
        "property": "payload",
        "x": 390,
        "y": 560,
        "wires": [
            [
                "9e6ed9dc.f64ba8"
            ]
        ]
    },
    {
        "id": "c9bd1cea5d42a077",
        "type": "inject",
        "z": "9ab0aa2ee0f67796",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.0",
        "topic": "",
        "payloadType": "date",
        "x": 170,
        "y": 740,
        "wires": [
            [
                "bdc636753b5ab169"
            ]
        ]
    },
    {
        "id": "bdc636753b5ab169",
        "type": "function",
        "z": "9ab0aa2ee0f67796",
        "name": "",
        "func": "var fire = flow.get(\"FIRE\") || false;\nflow.set(\"FIRE\",fire);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "e28f71b3f1da80ce",
        "type": "function",
        "z": "9ab0aa2ee0f67796",
        "name": "",
        "func": "var value = msg.payload;\nvar fire = flow.get(\"FIRE\");\nif (msg.payload==\"0\"){\n    fire = true;\n}\nflow.get(\"FIRE\", fire);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "0211cc71e153a5f3",
        "type": "function",
        "z": "9ab0aa2ee0f67796",
        "name": "",
        "func": "var value = msg.payload;\nvar fire = flow.get(\"FIRE\");\nif (msg.payload==1){\n    fire = true;\n}\nflow.get(\"FIRE\", fire);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "b8f8405a9ec1b80e",
        "type": "ui_toast",
        "z": "9ab0aa2ee0f67796",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": true,
        "className": "",
        "topic": "Fire Alert",
        "name": "",
        "x": 650,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "d9fd86517d13fcca",
        "type": "mqtt in",
        "z": "9ab0aa2ee0f67796",
        "name": "Fire",
        "topic": "/CO326/2021/SS/1/fire_detect",
        "qos": "0",
        "datatype": "utf8",
        "broker": "8a64871d599caeb9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 940,
        "wires": [
            [
                "aa9840c805ff02ae",
                "9b4e92a5ea76b386"
            ]
        ]
    },
    {
        "id": "aa9840c805ff02ae",
        "type": "debug",
        "z": "9ab0aa2ee0f67796",
        "name": "Fire debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 290,
        "y": 880,
        "wires": []
    },
    {
        "id": "8e830eccebfa7cc4",
        "type": "function",
        "z": "9ab0aa2ee0f67796",
        "name": "Show alert",
        "func": "if (msg.payload == \"1\"){\n    msg.topic = \"Fire Alert\";\n    msg.payload = \"Fire at Green House  1\";\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 940,
        "wires": [
            [
                "b8f8405a9ec1b80e"
            ]
        ]
    },
    {
        "id": "9b4e92a5ea76b386",
        "type": "change",
        "z": "9ab0aa2ee0f67796",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 940,
        "wires": [
            [
                "8e830eccebfa7cc4"
            ]
        ]
    },
    {
        "id": "27244bc589f73723",
        "type": "mqtt in",
        "z": "9ab0aa2ee0f67796",
        "name": "Intruder",
        "topic": "/CO326/2021/SS/1/Door",
        "qos": "0",
        "datatype": "json",
        "broker": "8a64871d599caeb9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 1080,
        "wires": [
            [
                "caac98593553ed69",
                "4f5290fd7f75f176"
            ]
        ]
    },
    {
        "id": "caac98593553ed69",
        "type": "debug",
        "z": "9ab0aa2ee0f67796",
        "name": "Door debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 290,
        "y": 1020,
        "wires": []
    },
    {
        "id": "4f5290fd7f75f176",
        "type": "function",
        "z": "9ab0aa2ee0f67796",
        "name": "Show alert",
        "func": "var payload = msg.payload;\nvar values  = payload[\"val\"];\nconsole.log(payload);\nif (values[0][\"state\"]==\"False\"){\n    msg.topic = \"Intruder Alert\";\n    msg.payload = \"Intruder at Green House 1\";\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 1080,
        "wires": [
            [
                "3953129eab17d347"
            ]
        ]
    },
    {
        "id": "3953129eab17d347",
        "type": "ui_toast",
        "z": "9ab0aa2ee0f67796",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": true,
        "className": "",
        "topic": "Intruder Alert",
        "name": "",
        "x": 650,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "49792a1783e35133",
        "type": "ui_spacer",
        "z": "9ab0aa2ee0f67796",
        "name": "spacer",
        "group": "0fe49638f8229727",
        "order": 2,
        "width": 6,
        "height": 1
    },
    {
        "id": "8a64871d599caeb9",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "0fe49638f8229727",
        "type": "ui_group",
        "name": "GreenHouse 1",
        "tab": "73927269c2a9d716",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "73927269c2a9d716",
        "type": "ui_tab",
        "name": "Security Unit",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]