Hydroponic Farming/SCADA/part1.json
[
    {
        "id": "8d539d05ee3de055",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8687afb3363dfb9f",
        "type": "mqtt in",
        "z": "8d539d05ee3de055",
        "name": "Temperature(Subcribe Data)",
        "topic": "hf/sensor/temp/",
        "qos": "0",
        "datatype": "auto",
        "broker": "ea85ac672ee70b03",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 180,
        "y": 100,
        "wires": [
            [
                "1c0129dfbee2db85",
                "b7f544107bb7b64b"
            ]
        ]
    },
    {
        "id": "1c0129dfbee2db85",
        "type": "ui_gauge",
        "z": "8d539d05ee3de055",
        "name": "",
        "group": "ce34253911c532a8",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Gauge",
        "label": "C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "60",
        "x": 430,
        "y": 120,
        "wires": []
    },
    {
        "id": "3830055c45bd0017",
        "type": "mqtt out",
        "z": "8d539d05ee3de055",
        "name": "Temperature(Publish Data)",
        "topic": "hf/sensor/control/temp/",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ea85ac672ee70b03",
        "x": 380,
        "y": 40,
        "wires": []
    },
    {
        "id": "3fcc2f2bc443c381",
        "type": "ui_switch",
        "z": "8d539d05ee3de055",
        "name": "Fan",
        "label": "Fan",
        "tooltip": "",
        "group": "ce34253911c532a8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "T:On",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "T:Off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 170,
        "y": 40,
        "wires": [
            [
                "3830055c45bd0017"
            ]
        ]
    },
    {
        "id": "b53e2103d9f8f89f",
        "type": "ui_switch",
        "z": "8d539d05ee3de055",
        "name": "Humidity Controller",
        "label": "Humidity Controller",
        "tooltip": "",
        "group": "5883b78eaf878809",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "H:on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "H:off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 170,
        "y": 180,
        "wires": [
            [
                "b7690f11b906f04c"
            ]
        ]
    },
    {
        "id": "b7690f11b906f04c",
        "type": "mqtt out",
        "z": "8d539d05ee3de055",
        "name": "Humidity(Publish Data)",
        "topic": "hf/sensor/control/humidity/",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ea85ac672ee70b03",
        "x": 400,
        "y": 180,
        "wires": []
    },
    {
        "id": "e019e0e3b2764be4",
        "type": "mqtt in",
        "z": "8d539d05ee3de055",
        "name": "Humidity(Subcribe Data)",
        "topic": "hf/sensor/humidity/",
        "qos": "2",
        "datatype": "auto",
        "broker": "ea85ac672ee70b03",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 220,
        "y": 260,
        "wires": [
            [
                "dda854dd864dcef8",
                "f62db9313cdd9af8"
            ]
        ]
    },
    {
        "id": "dda854dd864dcef8",
        "type": "ui_gauge",
        "z": "8d539d05ee3de055",
        "name": "Gauge",
        "group": "5883b78eaf878809",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Gauge",
        "label": "H",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "60",
        "x": 430,
        "y": 280,
        "wires": []
    },
    {
        "id": "f62db9313cdd9af8",
        "type": "debug",
        "z": "8d539d05ee3de055",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 220,
        "wires": []
    },
    {
        "id": "994452ee4b2bd4bf",
        "type": "ui_switch",
        "z": "8d539d05ee3de055",
        "name": "Light Intensity Controller",
        "label": "switch",
        "tooltip": "",
        "group": "09da98c1a7b3d2d8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "L:On",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "L:off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 190,
        "y": 380,
        "wires": [
            [
                "f37792d6bf76dab0"
            ]
        ]
    },
    {
        "id": "ce9a385beaf31e57",
        "type": "mqtt in",
        "z": "8d539d05ee3de055",
        "name": "Light Intensity(Publish Data)",
        "topic": "hf/sensor/lightintensity/",
        "qos": "0",
        "datatype": "auto",
        "broker": "ea85ac672ee70b03",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 180,
        "y": 460,
        "wires": [
            [
                "ba921526433d5659",
                "a09cc47af81fb4b2"
            ]
        ]
    },
    {
        "id": "f37792d6bf76dab0",
        "type": "mqtt out",
        "z": "8d539d05ee3de055",
        "name": "Light Intensity(Publish Data)",
        "topic": "hf/sensor/control/lightintensity/",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ea85ac672ee70b03",
        "x": 510,
        "y": 380,
        "wires": []
    },
    {
        "id": "ba921526433d5659",
        "type": "debug",
        "z": "8d539d05ee3de055",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 440,
        "wires": []
    },
    {
        "id": "b7f544107bb7b64b",
        "type": "debug",
        "z": "8d539d05ee3de055",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 80,
        "wires": []
    },
    {
        "id": "a09cc47af81fb4b2",
        "type": "ui_gauge",
        "z": "8d539d05ee3de055",
        "name": "Gauge",
        "group": "09da98c1a7b3d2d8",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Gauge",
        "label": "L",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 430,
        "y": 480,
        "wires": []
    },
    {
        "id": "ea85ac672ee70b03",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "test-client",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "ce34253911c532a8",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "c5e18d35b40aff4d",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "5883b78eaf878809",
        "type": "ui_group",
        "name": "Humidity",
        "tab": "c5e18d35b40aff4d",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "09da98c1a7b3d2d8",
        "type": "ui_group",
        "name": "Light Intensity",
        "tab": "c5e18d35b40aff4d",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "c5e18d35b40aff4d",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]