Pump and distribution/WATER_QUALITY_SCADA/water_quality_flows_node_red.json
[
    {
        "id": "8d539d05ee3de055",
        "type": "tab",
        "label": "Water Quality Dashboard",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8687afb3363dfb9f",
        "type": "mqtt in",
        "z": "8d539d05ee3de055",
        "name": "Temperature(Subcribe Data)",
        "topic": "CO326/2021/PDU/water_quality_temp/",
        "qos": "0",
        "datatype": "auto",
        "broker": "ea85ac672ee70b03",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 100,
        "wires": [
            [
                "1c0129dfbee2db85",
                "b7f544107bb7b64b"
            ]
        ]
    },
    {
        "id": "1c0129dfbee2db85",
        "type": "ui_gauge",
        "z": "8d539d05ee3de055",
        "name": "",
        "group": "ce34253911c532a8",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Gauge",
        "label": "C",
        "format": "{{value}}",
        "min": "-10",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "25",
        "seg2": "60",
        "x": 430,
        "y": 120,
        "wires": []
    },
    {
        "id": "3830055c45bd0017",
        "type": "mqtt out",
        "z": "8d539d05ee3de055",
        "name": "Temperature(Publish Data)",
        "topic": "water_quality/sensor/control/temp/",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ea85ac672ee70b03",
        "x": 380,
        "y": 40,
        "wires": []
    },
    {
        "id": "3fcc2f2bc443c381",
        "type": "ui_switch",
        "z": "8d539d05ee3de055",
        "name": "Fan",
        "label": "Fan",
        "tooltip": "",
        "group": "ce34253911c532a8",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "Temperature reducing fan :ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "Temperature reducing fan: OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 170,
        "y": 40,
        "wires": [
            [
                "3830055c45bd0017"
            ]
        ]
    },
    {
        "id": "b53e2103d9f8f89f",
        "type": "ui_switch",
        "z": "8d539d05ee3de055",
        "name": "PH METETR",
        "label": "PH Meter Controller",
        "tooltip": "",
        "group": "fc64c7191be2f00f",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "PH Controller is turned ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "PH Controller is turned OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "x": 170,
        "y": 200,
        "wires": [
            [
                "b7690f11b906f04c"
            ]
        ]
    },
    {
        "id": "b7690f11b906f04c",
        "type": "mqtt out",
        "z": "8d539d05ee3de055",
        "name": "PH_METER(Publish Data)",
        "topic": "water_quality/sensor/control/ph/",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ea85ac672ee70b03",
        "x": 560,
        "y": 200,
        "wires": []
    },
    {
        "id": "e019e0e3b2764be4",
        "type": "mqtt in",
        "z": "8d539d05ee3de055",
        "name": "PH_METER(Subcribe Data)",
        "topic": "CO326/2021/PDU/water_quality_ph/",
        "qos": "2",
        "datatype": "auto",
        "broker": "ea85ac672ee70b03",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 280,
        "wires": [
            [
                "dda854dd864dcef8",
                "f62db9313cdd9af8"
            ]
        ]
    },
    {
        "id": "dda854dd864dcef8",
        "type": "ui_gauge",
        "z": "8d539d05ee3de055",
        "name": "Gauge",
        "group": "fc64c7191be2f00f",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Gauge",
        "label": "PH",
        "format": "{{value}}",
        "min": 0,
        "max": "14",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "5",
        "seg2": "9",
        "x": 510,
        "y": 320,
        "wires": []
    },
    {
        "id": "f62db9313cdd9af8",
        "type": "debug",
        "z": "8d539d05ee3de055",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 260,
        "wires": []
    },
    {
        "id": "994452ee4b2bd4bf",
        "type": "ui_switch",
        "z": "8d539d05ee3de055",
        "name": "Light Intensity Controller",
        "label": "switch",
        "tooltip": "",
        "group": "09da98c1a7b3d2d8",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "Light Intensity : ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "Light Intensity : OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 190,
        "y": 380,
        "wires": [
            [
                "f37792d6bf76dab0"
            ]
        ]
    },
    {
        "id": "ce9a385beaf31e57",
        "type": "mqtt in",
        "z": "8d539d05ee3de055",
        "name": "Light Intensity(Subscribed Data)",
        "topic": "CO326/2021/PDU/water_quality_lightintensity/",
        "qos": "0",
        "datatype": "auto",
        "broker": "ea85ac672ee70b03",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 480,
        "wires": [
            [
                "ba921526433d5659",
                "a09cc47af81fb4b2"
            ]
        ]
    },
    {
        "id": "f37792d6bf76dab0",
        "type": "mqtt out",
        "z": "8d539d05ee3de055",
        "name": "Light Intensity(Publish Data)",
        "topic": "water_quality/sensor/control/lightintensity/",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ea85ac672ee70b03",
        "x": 510,
        "y": 380,
        "wires": []
    },
    {
        "id": "ba921526433d5659",
        "type": "debug",
        "z": "8d539d05ee3de055",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 440,
        "wires": []
    },
    {
        "id": "b7f544107bb7b64b",
        "type": "debug",
        "z": "8d539d05ee3de055",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 80,
        "wires": []
    },
    {
        "id": "a09cc47af81fb4b2",
        "type": "ui_gauge",
        "z": "8d539d05ee3de055",
        "name": "Gauge",
        "group": "09da98c1a7b3d2d8",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Gauge",
        "label": "L",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 470,
        "y": 520,
        "wires": []
    },
    {
        "id": "e42684a8e50dbaea",
        "type": "mqtt in",
        "z": "8d539d05ee3de055",
        "name": "Terbidity Sensor(Subscribed Data)",
        "topic": "CO326/2021/PDU/water_quality_turbidity/",
        "qos": "2",
        "datatype": "auto",
        "broker": "ea85ac672ee70b03",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 660,
        "wires": [
            [
                "2c0b2f96bbc83b71"
            ]
        ]
    },
    {
        "id": "2c0b2f96bbc83b71",
        "type": "ui_chart",
        "z": "8d539d05ee3de055",
        "name": "Turbidity Sensor Readings",
        "group": "5883b78eaf878809",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0.001",
        "ymax": "10",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 580,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "4778c009e93ce902",
        "type": "ui_switch",
        "z": "8d539d05ee3de055",
        "name": "Turbidity Meter",
        "label": "Turbidity Meter Controller",
        "tooltip": "",
        "group": "5883b78eaf878809",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "Turbidity meter is turned ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "Turbidity merter is turned OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 180,
        "y": 740,
        "wires": [
            [
                "30223bac1d5ed7a9",
                "509faa1af980e274"
            ]
        ]
    },
    {
        "id": "30223bac1d5ed7a9",
        "type": "mqtt out",
        "z": "8d539d05ee3de055",
        "name": "Turbidity Meter(Publish Data)",
        "topic": "water_quality/sensor/control/turbidity/",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ea85ac672ee70b03",
        "x": 450,
        "y": 740,
        "wires": []
    },
    {
        "id": "509faa1af980e274",
        "type": "debug",
        "z": "8d539d05ee3de055",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 820,
        "wires": []
    },
    {
        "id": "ea85ac672ee70b03",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "test-client",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "ce34253911c532a8",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "c5e18d35b40aff4d",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "fc64c7191be2f00f",
        "type": "ui_group",
        "name": "PH Meter",
        "tab": "c5e18d35b40aff4d",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "09da98c1a7b3d2d8",
        "type": "ui_group",
        "name": "Light Intensity",
        "tab": "c5e18d35b40aff4d",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "5883b78eaf878809",
        "type": "ui_group",
        "name": "Turbidity",
        "tab": "c5e18d35b40aff4d",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "c5e18d35b40aff4d",
        "type": "ui_tab",
        "name": "Water Quality Controller Dashboard",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]